.group__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    height:18rem;
    background-color: #7b5118 ;
    gap:30px;
    flex-wrap: wrap;
    border-radius: 20px;
    padding-right:10px;
    

    & .trash_icon{
        margin-top: 10px;
        display: flex;
        align-self: flex-end;
        width: 2.5rem;
        height: 2.5rem;

        & :hover{
            cursor: pointer;
        }
        
    }

    & .group_icon{
        
        width: 80px;
        height: 120px;
        align-self:center;
        justify-self: center;
    }

    & .device_name{
        text-align: center;
        height: 1.5rem;
    }

    & h3{
        font-size: var(--h3-font-size);
        line-height: var(--h3-line-height);
        color: white;
        align-self: center;
        height:min-content;
    }
}