.header {
    display: flex;
    justify-content: space-around;
    /* padding: 12px 24px; */
    align-items: center;
    background-color: #b2da8a;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.logo_group .logo {
    font-size: 3rem;
    color: #3a6f2a;
    font-weight: 700;
    font-family: 'open sans', sans-serif;
}

.logo_group {
    display: flex;
    align-items: center;
    gap: 8px
}

.picture {
    scale: 80%;
}

.notiandvery {
    display: flex;
    align-items: center;
    gap: 28px;
    justify-content: right;
    margin-left: 814px;
}

.notiadvery img {
    width: 22px;
    height: 22px;
    object-fit: contain;
    cursor: pointer;
    transition: filter 0.2s, transform 0.2s;
}

.notiandvery img:hover {
    filter: brightness(0.8);
    transform: scale(1.1);
}