.data__container {
      flex: 2;
      flex-direction: column;
      height: max-content;
      margin-right: 20px;

      & .data__box {
        height: fit-content;
        width: 100%;
        border: 1px;
        flex: 1;
        margin: 30px 0px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 8px 24px rgba(132, 204, 22, 0.15);
        border-left: 4px solid #84cc16;
        padding: 20px 20px;

        & .label {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 30px 20px;
          
          & img{
            width: 30px;
            height: 40px;
          }

          & .label-left,
          .label-right {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            & h3{
              margin-left: 20px;

            }
          }
        }
      }
    }