.create-device-page {
  width: 100%;
  max-width: 500px;
  margin: 60px auto;
  padding: 24px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  
}

.create-device-page h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container .mb-3 {
  margin-bottom: 16px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  margin-top: 16px;
  background-color: rgb(87, 149, 67);
}
