.wifi__section{
    width: 100vw;
    height: 100vh;
    background-color: #ffffff; 
    display: flex;
    flex-direction: column;

}

h2{
    font-size: var(--h2-font-size);
}
.wifi__container{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    margin-top: 50px;
    border: 5px solid #5dac45;
    border-radius: 5px;
    width: 600px ;
    height:auto;
    padding: 30px 30px;
    gap: 12px;
}